<p id="notice"><%= notice %></p>

<div>
<b>I am:
<%= @person.name %></b><br>
<b>I have:</b>
<%= @person.total %> Points
<br><br>
</div>

<div>
<b><i>My Scores So Far</b></i>:
<%= render @person.scores %>
</div>

<div>
<br><br>
<b><i>Leaderboard</b></i>:
<ol>
<% @people.sort{|a,b| b.total <=> a.total}.each do |person| %>
<li>
<b><%= person.name %></b> points: <%=person.total %>
</li>
<% end %>
</ol>
</div>

<div>
<b><i>Voting Status: <%= @eventDescription %></b><br></i>


<ol>
<% @events.sort{|a,b| a.time <=>b.time}.each do |event| %>
<li>
<b><%= event.name %></b> points: <%=event.votes %>
</li>
<% end %>
</ol>

</div>


<%= link_to 'Back', people_path %>
