<p id="notice"><%= notice %></p>

<div>
Name:
<%= @person.name %>
</div>

<div>
Scores:
<%= render @person.scores %>
</div>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
