<%= form_for([@game,@game.scores.build]) do |f| %>
	<%if(@person.nil?)%>
	  <div><br><b>New? What's your name?</b> <%= f.text_field :person %></div><br>
	<%else%>
	  <div>Cracking good show, <%= @person.name %><br>
	    <%= hidden_field_tag "score[person_id]", @person.id%>
	  </div>
	<%end%>
    <div><br><br><br>
    <b><%=@eventDescription%></b>
    </div>
	  <div>
		<b>Cast your vote:</b> <%= f.collection_select :event, @events, :id, :name %>
		<%= hidden_field_tag "score[rank]", @rank %>
	  </div>

  <div class="actions">
    <%= f.submit "Vote" %>
  </div>
<% end %>
