<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div>
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	  </div>
    <div>
        <%= f.label :scoreType %><br>
        <%= f.text_field :scoreType %>
    </div>
    <div>
        <%= f.label :fixedAmount %><br>
        <%= f.text_field :fixedAmount %>
    </div>
    <div>
        <%= f.label :scoreCap %><br>
        <%= f.text_field :scoreCap %>
    </div>
    <div>
        <%= f.label :everybodyWins %><br>
        <%= f.text_field :everybodyWins %>
    </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
